@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.details {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding: 1.5rem 1rem;
  border-bottom: 1px solid $Cloud;

  @include tablet {
    flex-direction: row;
    border-bottom: none;
    width: 90%;
  }

  &__container {
    width: 100%;

    @include tablet {
      justify-content: flex-start;
      align-items: stretch;
      gap: 1rem;
      width: 50%;
    }

    &--left {
      @include tablet {
        width: 50%;
      }
    }
  }

  &__wrapper {
    display: flex;
    width: 100%;

    &--right {
      width: 100%;
      gap: 1rem;
      padding-top: 2rem;

      @include tablet {
        padding: 0 0 0 3rem;
        justify-content: space-around;
        border-left: 1px solid $Cloud;
      }
    }
  }

  &__header {
    font-size: $m-h4-text-size;
    color: $Slate;
    line-height: $m-h4-line-height;
    font-weight: $font-weight-semi-bold600;

    @include tablet {
      font-size: $h4-text-size;
      line-height: $h4-line-height;
      padding-bottom: 0.5rem;
    }
  }

  &__value {
    font-size: $m-p2-text-size;
    line-height: $m-p2-line-height;
    color: $Instock-Black;
    font-weight: $font-weight-regular400;

    @include tablet {
      font-size: $p2-text-size;
      line-height: $p2-line-height;
    }
  }
}
