@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


/// Still the same as ListItem.scss

.list-item {
    padding: 1rem;
    border-top: 1px solid $Cloud;
  
    &:first-child {
      border-top: none;
    }
  
    &:hover {
      background-color: #f0f4fd;
    }
  
    @include tablet {
      padding: 1rem 2rem;
    }
  
    &__wrapper {
      @include flex-container(column, space-between);
      align-content: space-between;
      flex-wrap: wrap;
      height: 9.5rem;
  
      @include tablet {
        flex-direction: row;
        height: auto;
      }
    }
  
    &__container {
      box-sizing: border-box;
      width: 44%;
      max-width: 8.5rem;
  
      &--edit {
        @include flex-container(row, flex-end, center);
        gap: 1rem;
        width: 6rem;
      }
  
      @include tablet {
        box-sizing: content-box;
        max-width: 7.2rem;
      }
  
      @include desktop {
        max-width: 13rem;
      }
    }
  
    &__header {
      color: $Slate;
      font-size: $m-h4-text-size;
      line-height: $m-h4-line-height;
      font-weight: $font-weight-semi-bold600;
  
      @include tablet {
        display: none;
        font-size: $h4-text-size;
        line-height: $h4-line-height;
      }
    }
  
    &__value {
      color: $Instock-Black;
      font-size: $m-p2-text-size;
      line-height: $m-p2-line-height;
      font-weight: $font-weight-regular400;
  
      &--link {
        display: inline-flex;
        font-weight: $font-weight-semi-bold600;
        color: $Instock-Indigo;
        text-decoration: none;
  
        &:hover {
          text-decoration: underline;
        }
      }
  
      @include tablet {
        font-size: $p2-text-size;
        line-height: $p2-line-height;
      }
    }
  
    &__chevron {
      padding-left: 0.25rem;
      height: 1.25rem;
      width: 1.25rem;
    }
  
    &__button {
      @include reset-field;
      background-repeat: no-repeat;
      width: 1.5rem;
      height: 1.5rem;
  
      &--edit {
        background-image: url("../../assets/images/icons/action/edit-24px.svg");
      }
  
      &--delete {
        background-image: url("../../assets/images/icons/action/delete_outline-24px.svg");
  
        @include tablet {
          display: none;
        }
      }
  
      &--primary {
        display: none;
  
        @include tablet {
          display: block;
        }
      }
    }
}
  