@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  background-color: $Light-Grey;
  padding: 0 1rem;

  @include tablet {
    padding: 0 2rem;
  }
  @include desktop {
    padding: 0;
  }
}

.dashboard {
  width: 100%;
  height: fit-content;
  position: relative;
  bottom: 3.25rem;
  background-color: white;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem #13182c1a;

  @include tablet {
    max-width: 1020px;
    bottom: 5.5rem;
    margin: 0 auto;
  }

  @include desktop {
    width: 1020px;
  }

  &__container {
    &--search {
      @include flex-container(column);
      gap: 1rem;
      padding: 1.5rem 1rem;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 2rem;
      }
    }

    &--headers {
      display: none;
      padding: 1rem 2rem;
      background-color: $Light-Grey;
      position: relative;
      top: 1px;

      @include tablet {
        @include flex-container(row, space-between);
      }
    }
  }

  &__wrapper {
    @include flex-container(column);
    gap: 1rem;
    @include tablet {
      flex-direction: row;
    }
  }

  &__page-header {
    color: $Instock-Black;
    font-size: $m-h1-text-size;
    line-height: $m-h1-line-height;
    font-weight: $font-weight-semi-bold600;
    @include tablet {
      font-size: $h1-text-size;
      line-height: $h1-line-height;
    }
  }

  &__search {
    background-image: url("../../assets/images/icons/action/search-24px.svg");
    @include reset-field;
    @include form-field;

    &:hover {
      cursor: text;
    }
  }

  &__cta-button {
    @include reset-field;
    @include cta-button;
  }

  &__header {
    display: none;
    color: $Slate;
    font-size: $m-h4-text-size;
    line-height: $m-h4-line-height;
    font-weight: $font-weight-semi-bold600;

    // SET FOR WAREHOUSE
    &:nth-child(1) {
      flex: 1.5;
    }
    &:nth-child(2) {
      flex: 1.5;
    }
    &:nth-child(3) {
      flex: 1.25;
    }
    &:nth-child(4) {
      flex: 2;
    }

    &--secondary {
      // SPACING FOR INVENTORY
      &:nth-child(1) {
        flex: 1.35;
      }
      &:nth-child(2) {
        flex: 1;
      }
      &:nth-child(3) {
        flex: 1;
      }
      &:nth-child(4) {
        flex: 0.5;
      }
      &:nth-child(5) {
        flex: 1.25;
      }
    }

    @include tablet {
      display: inline-flex;
      font-size: $h4-text-size;
      line-height: $h4-line-height;
      text-wrap: nowrap;
    }

    &--action {
      flex: 0 0 auto;
    }

    &--start {
      justify-content: flex-start;
    }
  }

  &__sort {
    padding-left: 0.25rem;
    height: 1rem;
    width: 1rem;
    align-content: baseline;
    &:hover {
      cursor: pointer;
    }
  }
}
