// Breakpoints variables
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//Colors variables
$Instock-Black: #13182c;
$Slate: #5c667e;
$Graphite: #232940;
$Green: #158463;
$Instock-Indigo: #2e66e5;
$Cloud: #bdc5d5;
$Light-Grey: #f7f8f9;
$Red: #c94515;
$White: #ffffff;

//font weight
$primary-font: "Titillium Web", Arial, Helvetica, sans-serif;
$primary-font-fontface: "Titillium Web";
$font-weight-semi-bold600: 600;
$font-weight-regular400: 400;

//Tablet and Desktop
$h1-text-size: 2rem;
$h1-line-height: 2.5rem;

$h2-text-size: 1.5rem;
$h2-line-height: 2rem;

$h3-text-size: 0.875rem;
$h3-line-height: 1.375rem;

$h4-text-size: 0.75rem;
$h4-line-height: 1.125rem;

$p1-text-size: 1rem;
$p1-line-height: 1.75rem;

$p2-text-size: 0.875rem;
$p2-line-height: 1.375rem;

$p3-text-size: 0.75rem;
$p3-line-height: 1.125rem;

//Mobile
$m-h1-text-size: 1.75rem;
$m-h1-line-height: 2.25rem;

$m-h2-text-size: 1.25rem;
$m-h2-line-height: 1.75rem;

$m-h3-text-size: 0.8125rem;
$m-h3-line-height: 1.25rem;

$m-h4-text-size: 0.6875rem;
$m-h4-line-height: 1rem;

$m-p1-text-size: 0.9375rem;
$m-p1-line-height: 1.625rem;

$m-p2-text-size: 0.8125rem;
$m-p2-line-height: 1.25rem;

$m-p3-text-size: 0.6875rem;
$m-p3-line-height: 1rem;
