// Breakpoints variables
$breakpoint-tablet: 48rem;
$breakpoint-desktop: 80rem;

//Colors variables
$Instock-Black: #13182c;
$Slate: #5c667e;
$Graphite: #232940;
$Green: #158463;
$Instock-Indigo: #2e66e5;
$Cloud: #bdc5d5;
$Light-Grey: #f7f8f9;
$Red: #c94515;
$White: #ffffff;

//font weight
$primary-font: "Titillium Web", Arial, Helvetica, sans-serif;
$primary-font-fontface: "Titillium Web";
$font-weight-semi-bold600: 600;
$font-weight-regular400: 400;
