@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  background-color: $Light-Grey;
  padding: 0 1rem;

  @include tablet {
    padding: 0 3rem;
  }

  @include desktop {
    padding: 0;
  }
}

.warehouse-inventory {
  width: 100%;
  height: fit-content;
  position: relative;
  bottom: 3.25rem;
  background-color: white;
  border-radius: 0.1875rem;
  box-shadow: 0rem 0.125rem 0.3125rem 0rem #13182c1a;

  @include tablet {
    width: 87.5vw;
    max-width: 1020px;
    bottom: 5.5rem;
    margin: 0 auto;
  }

  @include desktop {
    width: 1020px;
  }
}
