@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.main {
  padding: 0 1rem;
  background-color: $Light-Grey;
}

.warehouse {
  width: 100%;
  background-color: white;
  border-radius: 0.1875rem;

  &__container {
    &--top {
      @include flex-container(column);
      gap: 1rem;
      padding: 1.5rem 1rem;
      border-bottom: 1px solid $Cloud;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__wrapper {
    @include flex-container(column);
    gap: 1rem;

    @include tablet {
      flex-direction: row;
    }
  }

  &__page-header {
    color: $Instock-Black;
    font-size: $m-h1-text-size;
    line-height: $m-h1-line-height;
    font-weight: $font-weight-semi-bold600;

    @include tablet {
      font-size: $h1-text-size;
      line-height: $h1-line-height;
    }
  }

  &__search {
    @include reset-field;
    @include search-field;
  }

  &__cta-button {
    @include reset-field;
    @include cta-button;
  }
}
