@use "../../styles/partials/mixins" as *;
$Instock-Black: #13182c;
$Slate: #5c667e;
$Graphite: #232940;
$Green: #158463;
$Instock-Indigo: #2e66e5;
$Cloud: #bdc5d5;
$Light-Grey: #f7f8f9;
$Red: #c94515;
$White: #ffffff;

$font-weight-semi-bold600: 600;
$font-weight-regular400: 400;

.main {
  padding: 0 1rem;
  background-color: #f7f8f9;
}

.warehouse {
  width: 100%;
  background-color: white;
  border-radius: 0.1875rem;

  &__container {
    &--top {
      @include flex-container(column);
      gap: 1rem;
      padding: 1.5rem 1rem;
      border-bottom: 1px solid $Cloud;

      @include tablet {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  &__wrapper {
    @include flex-container(column);
    gap: 1rem;

    @include tablet {
      flex-direction: row;
    }
  }

  &__page-header {
    color: $Instock-Black;
    font-size: 1.75rem;
    line-height: 2.25rem;
    font-weight: 600;

    @include tablet {
      font-size: 2rem;
      line-height: 2.5rem;
    }
  }

  &__search {
    @include reset-field;
    @include search-field;
  }

  &__cta-button {
    @include reset-field;
    @include cta-button;
  }
}
