@use "../../styles/partials/mixins.scss" as *;
@use "../../styles/partials/typography.scss" as *;
@use "../../styles/partials/variables.scss" as *;

.header {
  background-color: $Graphite;
  width: 100%;
  padding: 1rem 1rem 9rem 1rem;

  @include flex-container($direction: column, $justify: center, $align: center);

  @include tablet {
    @include flex-container($justify: space-between);
  }

  @include desktop {
    max-width: $breakpoint-desktop;
    margin: 0 auto;
  }
  &__logo {
    padding: 1rem;
  }

  &__nav {
    width: 100%;
    font-size: $m-h3-text-size;
    @include flex-container($justify: space-around, $align: center);

    @include tablet {
      font-size: $h3-text-size;
      width: 20rem;
      @include flex-container($justify: flex-end, $align: center);
    }
  }
  &__link {
    cursor: pointer;
    color: $Cloud;
    text-decoration: none;
    padding: 0.5rem 1rem;
    width: 40%;

    @include flex-container($justify: center, $align: center);

    @include tablet {
    }
    &:hover {
      color: $White;
      text-decoration: underline;
    }
    &:focus,
    &:active {
      color: $White;
      border-radius: 20px;
      background-color: $Instock-Black;
    }

    &--active {
      color: $White;
      border-radius: 20px;
      background-color: $Instock-Black;
      text-decoration: none;
    }

    &:visited {
      text-decoration: none;
    }
  }
}
