@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.inventory-form {
  min-height: 69.7vh;
  background-color: $Light-Grey;
  padding: 0 1rem;

  @include tablet {
    padding: 0 3rem;
  }

  @include desktop {
    padding: 0;
  }

  &__wrapper {
    width: 100%;
    height: fit-content;
    position: relative;
    bottom: 4rem;
    background-color: white;
    box-shadow: 0rem 0.125rem 0.3125rem 0rem #13182c1a;

    &--left {
      @include tablet {
        border-right: 0.0625rem solid $Cloud;
      }
    }

    @include tablet {
      width: 87.5vw;
      max-width: 1020px;
      bottom: 5.1619rem;
      margin: 0 auto;
    }

    @include desktop {
      width: 1020px;
    }

    &--header {
      @include flex-container($align: baseline);
      border-bottom: 0.0625rem solid $Cloud;
      padding: 1.5rem;
      line-height: 2.1rem;
      border-top-left-radius: 0.1875rem;
      border-top-right-radius: 0.1875rem;
    }

    &--body {
      @include flex-container(column);

      @include tablet {
        padding: 1.75rem 0;
        @include flex-container($justify: space-between);
      }
    }

    &--section {
      padding: 1.5rem;

      @include tablet {
        width: 50%;
        padding: 0 3rem 0.5rem 3rem;
        border-bottom: none;
      }

      &:first-child {
        border-bottom: 0.0625rem solid $Cloud;

        @include tablet {
          border-bottom: none;
        }
      }
    }

    &--options {
      @include flex-container(row, space-between, center);
      gap: 1rem;
      padding: 1rem;
      background-color: $Light-Grey;
      border-bottom-left-radius: 0.1875rem;
      border-bottom-right-radius: 0.1875rem;

      @include tablet {
        @include flex-container(row, flex-end, flex-end);
      }
    }

    &--radio {
      @include flex-container(row, space-between, center);

      @include tablet {
        justify-content: flex-start;
        gap: 2rem;
      }
    }
  }

  &__back-button {
    @include reset-field;
    margin-right: 0.25rem;
    height: 1.5rem;
    width: 1.5rem;
    background-image: url("../../assets/images/icons/navigation/arrow_back-24px.svg");
    background-position: center;
    background-repeat: no-repeat;
  }

  &__page-header {
    color: $Instock-Black;
    font-size: $m-h1-text-size;
    line-height: $m-h1-line-height;
    font-weight: $font-weight-semi-bold600;

    @include tablet {
      font-size: $h1-text-size;
      line-height: $h1-line-height;
    }
  }

  &__section-header {
    color: $Instock-Black;
    font-size: $m-h2-text-size;
    line-height: $m-h2-line-height;
    font-weight: $font-weight-semi-bold600;

    @include tablet {
      font-size: $h2-text-size;
      line-height: $h2-line-height;
    }
  }

  &__label {
    @include flex-container(column);
    margin-top: 1.5rem;
    color: $Instock-Black;
    font-size: $m-h3-text-size;
    line-height: $m-h3-line-height;
    font-weight: $font-weight-semi-bold600;

    @include tablet {
      gap: 0.25rem;
      font-size: $h3-text-size;
      line-height: $h3-line-height;
    }

    &--radio {
      flex-direction: row;
      justify-content: space-between;
      gap: 0.5rem;
      margin-top: 0;
      color: $Slate;
      font-size: $m-p2-text-size;
      line-height: $m-p2-line-height;
      font-weight: $font-weight-regular400;

      &--right {
        @include tablet {
          padding-left: 2rem;
        }
      }

      @include tablet {
        font-size: $p2-text-size;
        line-height: $p2-line-height;
      }
    }

    &--selected {
      color: $Instock-Black;
    }

    &--error {
      @include flex-container($align: center);
      margin-top: 0.25rem;
      color: $Red;
    }
  }

  &__icon {
    height: 1rem;
    width: 1rem;
    margin-right: 0.25rem;
  }

  &__input {
    margin-top: 4px;
    font-weight: $font-weight-regular400 !important;
    @include reset-field;
    @include form-field;

    @include tablet {
      width: 100%;
    }

    &--text {
      cursor: text;
    }

    &--radio {
      width: 1rem;
      height: 1rem;
    }

    &--text-area {
      height: 7.5rem;
      resize: none;
      overflow: hidden;
      padding-top: 0.5rem;
      cursor: text;
    }

    &--select {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background-image: url("../../assets/images/icons/navigation/arrow_drop_down-24px.svg");
      color: #000;

      &:invalid {
        color: #999;
      }
    }

    &::placeholder {
      color: $Cloud;
      font-weight: $font-weight-regular400;
    }

    &--error {
      border-color: $Red;
    }
  }

  &__option {
    color: #000;
  }

  &__link {
    width: 100%;

    @include tablet {
      justify-content: flex-end;
      width: 10%;
    }
  }

  &__button {
    @include reset-field;
    @include cta-button;

    &--secondary {
      background-color: white;
      color: $Slate;
      border: 1px solid $Cloud;

      &:hover {
        background-color: white;
        color: $Instock-Indigo;
        border: 1px solid $Instock-Indigo;
      }
    }
  }
}
