@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;

.footer {
  display: flex;
  bottom: 0;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 3rem;

  &__paragraph {
    text-align: center;
    color: $Slate;
    font-size: 0.6875rem;
    line-height: 1rem;
    @include tablet {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
    @include desktop {
      font-size: 0.75rem;
      line-height: 1.125rem;
    }
  }
}
