@use "./styles/partials/typography" as *;
@use "./styles/partials/variables" as *;

html {
    font-size: 100%;
    font-family: $primary-font;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
